node_modules
/release-builds
/staging
/installed
/BundledThrive
/Temp
/Scripts/installer_banner.bmp

/dist
/builds
*.tar.xz
*.deb
*.DS_Store
*.DotSettings.user

bin
obj

/.jetbrains-cache
/inspect_results.json
/files_to_check.txt

*.*~
*.bak
*.rpm