/*
  Thrive style for the launcher
*/

/* Thrive site font */
body {
    font-family: Roboto;
}

/* 100% height */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
    background-image: url('assets/Planet-1.jpg');
}

h1, h2 {
    color: #FFFFFF;
    font-family: Century Gothic, Arial, sans-serif;
    font-size: 2.5em;
    text-align: justify;
    margin-top: 8px;
    margin-bottom: 8px;

    padding-left: 5px;
}

h2 {
    font-size: 2.4em;
}

a {
    color: #6ACDEB;
}

a:hover {
    color: #56A7BF;
}

hr {

    /*border-color: linear-gradient(100deg, blue, red);*/
    border-color: #00ffff;
}

.Inline {

    display: inline-block;
}

/* News boxes */
.ContentBlock {

    overflow: auto;
    display: inline-block;
    height: auto;
    width: auto;
    vertical-align: top;

    position: absolute;

    background: linear-gradient(to top left, rgb(68, 68, 68), rgba(48, 48, 48, 0.7));
}

#buttonContainer {

    height: 10%;
    max-height: 10%;
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    overflow: hidden;
    text-align: center;

    border-top: 1px solid rgba(68, 68, 68, 0.46);

    background: linear-gradient(110deg, rgb(68, 68, 68), rgba(48, 48, 48, 0.7));
}

#innerButtons {

    display: inline-block;
    height: auto;
    width: auto;

    position: relative;
    top: 50%;
    transform: perspective(1px) translateY(-50%);
}

/* A nice green colour: #73AD21 */

.BottomButton {

    vertical-align: middle;
    text-align: center;
    display: inline-block;

    color: #DEDEDE;
    border-radius: 5px;
    background: rgba(43, 43, 43, 0.9);

    padding-left: 10px;
    padding-right: 10px;

    cursor: pointer;
}

.BottomButton:hover {

    background: rgba(20, 20, 20, 1);
}

#playText:hover {

    background: #009ac1;
}

#playComboPopup:hover {

    background: #009ac1;
}

/* Button Stuff */

.Clickable {

    
}


.AfterPlayClose {

    text-align: center;
    display: inline-block;

    margin-left: auto;
    margin-right: auto;

    color: #DEDEDE;
    border-radius: 5px;
    background: rgba(43, 43, 43, 0.9);

    font-size: 2.3em;

    cursor: pointer;
}

.AfterPlayClose:hover {

    background: rgba(20, 20, 20, 1);
}

/** Feed style **/
.FeedPost {

    color: #00ffff;
    display: block;
}

.FeedInfoBox {

    padding-left: 15px;
    color: #DEDEDE;
    display: block;
}

.FeedAuthorAndDate {

}

.FeedAuthor {

    display: inline-block;
    color: #00ffff;
}

.FeedPreview {

    /* text body colour */
    color: white;
    
    margin-top: 12px;
    margin-bottom: 30px;
    margin-left: 3px;
    margin-right: 3px;
    
    /* Margin doesn't work without this */
    display: block;
}

.FeedTitle {

    margin-bottom: 5px;
    margin-top: 2px;
}


.FeedCategories {

    display: block;
    padding-left: 30px;
    font-size: 0.8em;
    color: darkgray;
}

.RedWordFeedTruncated {

    color: #d43a3a;
}

.FeedPost img {

    max-width: 100%;
    height: auto;
}

.FeedPost iframe {

    max-width: 100%;
}

.emoji {

    width: 24px;
    heigth: auto;
}


.UpdateButtonContainer {

    width: 100%;
    height: auto;
    display: block;
    text-align: center;
    margin-top: 35px;
    margin-bottom: 10px;
}


.UnpackProgressLog {

    width: 100%;
    height: auto;
    /* max-height: 350px; */
    overflow: auto;
    display: block;
}

 /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; 
    background-color: rgba(0,0,0,0.4);
}

/* Modal Content/Box */
.modal-content {
    display: none;
    background-color: #fefefe;

    margin-left: auto;
    margin-right: auto;

    margin-top: 8%;

    margin-bottom: auto;
    
    /*margin: 15% auto; /* 15% from the top and centered */
    
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    max-width: 80%;
    max-height: 80%;

    overflow: auto;
    /*overflow: auto;*/
    /* animation-name: animatetop; */
    /* animation-duration: 0.4s */
}

/* @keyframes animatetop { */
/*     from {margin-top: -50px; opacity: 0} */
/*     to {margin-top: 15%; opacity: 1} */
/* } */

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    
    color: black;
    text-decoration: none;
    cursor: pointer;
}


.ComboPopup {
    display: none; 
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; 
    background-color: rgba(0,0,0,0);
}

.ComboContent {

    background: white;
    max-height: 60%;
    height: auto;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    overflow: auto;
    display: none;
    padding: 5px;
    /* this is overwritten when opened */
    width: 400px;
}





